img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.slider{
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #d4e9e2;
}
.backgournd>img{
    height: 600px;
    object-fit: cover;
}
.slider-content{
    position: absolute;
    left: 4%;
    top: 30%;

  
}
.slider-content>h1{
    font-size: 59px;
    font-weight: 600;
    margin: 15px 0;
}

.slider-text-1,.slider-text-2{
    margin: 4px 0;
    font-weight: 600;
    font-size: 18px;

}

.btn-join{
    background:  #008248;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 28px;
    margin: 15px 0;
    font-size: 19px;
}