img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.slider{
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #d4e9e2;
}
.backgournd>img{
    height: 600px;
    object-fit: cover;
}
.slider-content{
    position: absolute;
    left: 4%;
    top: 30%;

  
}
.slider-content>h1{
    font-size: 59px;
    font-weight: 600;
    margin: 15px 0;
}

.slider-text-1,.slider-text-2{
    margin: 4px 0;
    font-weight: 600;
    font-size: 18px;

}

.btn-join{
    background:  #008248;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px 28px;
    margin: 15px 0;
    font-size: 19px;
}


/**  Getting started is easy***/

.getting-container{
    text-align: center;
    margin: 60px 0;
}
.getting-container>h2 {
    font-weight: 600;
    font-size: 24px;
    padding: 15px 0;
}
.getting-container>p,.content>p{
    font-size: 16px;
}
.gettieg-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.content > img{
    height: 42px;
    width: 42px;
}

.content>h3 {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.content{
    padding: 30px;
}


/**/

.endless-container{
    text-align: center;
    margin: 60px auto;
}
.endless-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.endless> img {
    height: 112px;
    width: 112px;
}