.logo{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.header-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 30px 40px;
}
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon-location{
    margin: 10px;
}

ul {
    display: flex;
    justify-content:space-between;
}

li > a{
    padding: 0 20px;
    color:#000;
    font-size: 18px;
    font-weight: 800;
}
li > a:hover{
    padding: 0 20px;
    color: #008248;
    font-size: 18px;
    font-weight: 800;
}

button{
    margin: 0 20px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.location{
    border: none;
    background: none;
    position: relative;
}
.span{
    padding: 0 11px;
}
.location>img{
    position: absolute;
    bottom: -31%;
    left: -27%;
}
.location:hover{
    color: #008248;
}
.sigin {
    background: none;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid;
}
.join{
    background: black;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid;
}
.join:hover{
    background: white;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid;
}
.bar {
    background-color: #1e3932;
    color: white;
    height: 50px;
    position: relative;
}
.bar>p{
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    left: 9%;
    top: 24%;
}



.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .bottom-navigation-bar a {
   position: relative;

  }
  
  .bottom-navigation-bar a.active {
    border-bottom: 18px solid 
    #008248;
    padding-bottom:39px ;
  }