.logo{
    width: 45px;
    height: 45px;
}
.header-content{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 30px;
}
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content:space-between;
}

li > a{
    padding: 0 20px;
    color:#000;
    font-size: 18px;
    font-weight: 800;
}

button{
    margin: 0 20px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}

.location{
    border: none;
    background: none;
    position: relative;
}
.location>img{
    position: absolute;
    bottom: -31%;
    left: -27%;
}
.location:hover{
    color: #008248;
}
.sigin {
    background: none;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid;
}
.join{
    background: black;
    color: white;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid;
}
.join:hover{
    background: white;
    color: black;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid;
}